.message{
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  padding-right: 25px;
}

.messageTop{
  display: flex;
}

.messageImage{
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
}

.messageText{
  color: #000080;
  background-color: #efc853;
  /* border-radius: 20px; */
  border-radius:0 20px 20px 20px;
  padding: 10px;
  max-width: 300px;
}

.messageBottom{
  font-size: 12px;
  margin-top: 10px;
}

.message.own{
  display: flex;
  align-items: flex-end;
  
}

.message.own .messageText{
  background-color: rgb(236, 233, 233);
  border-radius:20px 0px 20px 20px;
  color: black;
}